aurora_min_capacity              = {{ aurora_min_capacity }}
aurora_max_capacity              = {{ aurora_max_capacity }}
aurora_instance_count            = {{ aurora_instance_count }}
aurora_deletion_protection       = {{ aurora_deletion_protection | lower }}
redis_node_type                  = "{{ redis_node_type }}"
redis_num_cache_clusters         = {{ redis_num_cache_clusters }}
redis_multi_az_enabled           = {{ redis_multi_az_enabled | lower }}
redis_automatic_failover_enabled = {{ redis_automatic_failover_enabled | lower }}
ecs_desired_count                = {{ ecs_desired_count }}
ecs_cpu                          = {{ ecs_cpu }}
ecs_memory                       = {{ ecs_memory }}
log_retention_days               = {{ log_retention_days }}
log_bucket_name                  = "{{ log_bucket_name }}"
event_queue_arn                  = "{{ event_queue_arn }}"
replica_bucket_arn               = "{{ replica_bucket_arn }}"
replication_role_arn             = "{{ replication_role_arn }}"
acm_certificate_arn              = "{{ acm_certificate_arn }}"
route53_query_log_group_arn      = "{{ route53_query_log_group_arn }}"
documental_replica_bucket_arn    = "{{ documental_replica_bucket_arn }}"
documental_replication_role_arn  = "{{ documental_replication_role_arn }}"