DATABASE_URL=postgresql+asyncpg://postgres:1234@localhost:5432/golden_bears
SECRET_KEY=BRE@ososdelmileniodorado123
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=60
REFRESH_TOKEN_EXPIRE_DAYS=7

GMAIL_USER=stilesvcc@gmail.com
GMAIL_APP_PASSWORD=hdxw jzob hfhn xfrh
GMAIL_FROM_NAME=Golden Bears
EMAIL_ENABLED=True

# --- Docker: el DATABASE_URL se sobreescribe en docker-compose.yml ---
# En Docker, postgres corre en el servicio "postgres", no en localhost
